@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE */
html {
  scroll-behavior: smooth;
}
body {
  @apply bg-zinc-900 text-zinc-50;
}

/* TYPOGRAPHY */
.headline-one {
  @apply max-w-max;
  background: -webkit-linear-gradient(0deg, #fafafa, #a1a1aa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headline-one {
  @apply text-5xl leading-tight font-semibold lg:text-[55px] lg:leading-[1.15];
}

/* UTILITIES */
.container {
  @apply px-4 mx-auto lg:px-8 xl:max-w-6xl;
}

.image-box {
  @apply bg-zinc-700 overflow-hidden;
}

.image-cover {
  @apply w-full h-full object-cover;
}

.section {
  @apply pt-20 lg:pt-32;
}

/* MENU-BUTTON */
.menu-button {
  @apply w-10 h-10 grid place-items-center bg-zinc-50/10 rounded-xl ring-inset ring-1 ring-zinc-50/[0.02] backdrop-blur-2xl hover:bg-zinc-50/15 transition-[transform,background-color] active:scale-95;
}

/* NAVIGATION */
.navbar {
  @apply absolute top-full mt-2 right-0  min-w-40 p-2 bg-zinc-50/10 rounded-2xl ring-inset ring-1 ring-zinc-50/5 scale-90 isolate blur-sm opacity-0 invisible transition-[opacity,transform,filter] md:static md:flex md:items-center md:mt-0 md:opacity-100 md:blur-0 md:visible md:scale-100 backdrop-blur-2xl;
}
.navbar.active {
  @apply opacity-100 scale-100 blur-0 visible;
}
.navigation-link {
  @apply grid items-center h-9 px-4 text-sm font-medium tracking-wide text-zinc-50/50 hover:text-zinc-50 transition-colors;
}
.navigation-link.active {
  @apply text-zinc-900 duration-500;
}
.navbar .active-box {
  @apply absolute bg-zinc-50 rounded-lg -z-10 transition-[top,left] duration-500;
}

/* BUTTON */
.button {
  @apply max-w-max h-9 flex items-center gap-2 px-4 rounded-xl font-semibold text-base ring-1 ring-zinc-50/5 ring-inset transition-[background-color];
}
.button-primary {
  @apply h-11 bg-green-500 text-zinc-950 hover:bg-green-300 active:bg-green-400;
}
.button-secondary {
  @apply bg-zinc-50 text-zinc-900 active:bg-zinc-50/80;
}
.button-outline {
  @apply h-11 bg-zinc-800 hover:bg-zinc-700 active:bg-zinc-800;
}
